body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5rem;
  font-weight: normal;
}

.btn-primary {
  background-color: #3A76AC;
  border-color: #3A76AC;
}

.btn-primary:hover {
  background: #3A76AC;
  border-color: #3A76AC;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
}

.hero {
  padding-top: 50px;
  min-height: 830px;
  background-image: url(../images/hero-bg.svg);
  background-position: top right;
  background-repeat: no-repeat;
}

.hero .brand {
  margin-bottom: 210px;
}

.hero .tagline h1, .hero .tagline h6 {
  font-weight: 300;
}

.hero .tagline h1 {
  margin-bottom: 20px;
}

.hero .tagline h6 {
  line-height: 2rem;
  font-size: 18px;
}

.section-pricing-table {
  padding-right: 4rem;
  margin-top: -7rem;
  margin-bottom: 10rem;
}

.section-pricing-table .price-md {
  min-height: 530px;
  border: none;
  box-shadow: 0 5px 16px 0 rgba(176, 183, 218, 0.6);
  border-radius: 8px;
}

.section-pricing-table .price-lg {
  min-height: 570px;
  margin-top: -1.5rem;
  background-color: #3A76AC;
  color: #fff;
  border: none;
  box-shadow: 0 10px 24px 0 #B0B7DA;
  border-radius: 8px;
}

.section-pricing-table .price-lg .price {
  color: #fff;
  margin-bottom: 2.3rem;
}

.section-pricing-table .price-lg .btn-primary {
  background-color: #204F78;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}

.section-pricing-table .price-lg .btn-primary:hover {
  border-color: #204F78;
}

.section-pricing-table .price-lg .pricing-features {
  margin-bottom: 7rem;
}

.section-pricing-table .card-body {
  padding: 3rem 2rem;
}

.section-pricing-table .price {
  color: #3A76AC;
  margin-bottom: 1.8rem;
  font-weight: 600;
  font-size: 58px;
}

.section-pricing-table .price > small {
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}

.section-pricing-table .price > span {
  font-size: 16px;
  display: inline-block;
  margin-left: -5px;
}

.section-pricing-table .pricing-features {
  margin-bottom: 6.5rem;
}

.section-pricing-table .pricing-features > li {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dashed #E3E3E3;
  font-size: 14px;
  display: block;
}

.section-discover-track .background-backdrop, .section-build-itinerary .background-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.section-discover-track {
  margin-bottom: 5rem;
}

.section-discover-track .background-backdrop .bg-left, .section-discover-track .background-backdrop .bg-right {
  position: absolute;
}

.section-discover-track .background-backdrop .bg-left {
  top: 40px;
  left: -250px;
}

.section-discover-track .background-backdrop .bg-right {
  top: 100px;
  right: 0;
}

.section-build-itinerary .background-backdrop .bg-left {
  position: absolute;
  left: 0;
}

.section-content {
  position: relative;
  padding: 15rem 0;
}

.section-content .content {
  position: relative;
  z-index: 100;
}

.section-content .title {
  font-size: 32px;
  font-weight: 400;
  position: relative;
  padding-bottom: 1.5rem;
  margin-bottom: 2.5rem;
}

.section-content .title:before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #E57373;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-content h5 {
  color: #7E838B;
  font-size: 18px;
  line-height: 2rem;
}

.section-content .content-feature {
  margin: 5rem 0;
}

.section-content .content-feature > li {
  margin-bottom: 3.3rem;
}

.section-content .content-feature .media-body {
  margin-top: -7px;
}
/*# sourceMappingURL=style.css.map */